@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --bg-glass: #282A36;
}

* {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    padding : 0;
    margin: 0;
    font-size: 14px;
    
  
    & .navContainer {
        background-color: var(--bg-glass);

    }

    & .navExpandContainer{
        background-color: var(--bg-glass);
    }

    
    & .btn-login{
        font-weight: bold;
        letter-spacing: 1px;
        
    }

    .homeContainer {
        height: auto;
        overflow: hidden;
 
    

        & .introContainer{
            padding-top: 10rem;
            height: 100vh;
            background-image: url("./../../images/Backgrounds/Home_bg.jpg");
            background-size: cover; /* Adjusts the size of the image to cover the entire div */
            background-position: center; /* Centers the image */
            background-repeat: no-repeat;


            & .left{
                display: flex;
                align-items: center;
                justify-content: center;
              
          
                


                & label {
                    font-size: 4rem;
                    font-weight: bold;
                    color: white;
                    letter-spacing: .2rem;

                    & .customHouse{
                        font-size: 5rem;
                        font-family: Arial, sans-serif;
                        font-weight: bolder;
                        background: linear-gradient(135deg, yellow 50%, white 50%);
                        -webkit-background-clip: text; /* Chrome and Safari */
                        background-clip: text; /* Standard syntax for background clip */
                        color: transparent; /* Make the text color transparent */
                    }
                }
            }
          
      

        }

        & .summaryContainer{
            background-color: #E5E6E6;
            height: 40vh;
            display: flex;
            flex-direction: column;
            gap: 2rem;
            padding: 2rem 5rem;

            & h2 {
                font-weight: bolder;
               
            }

           
        }


        .imagesHouseContainer {
            height: 100vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 4rem;
            padding: 3rem 6rem;

            & img {
                display: flex;
                width: 20rem;
                border: solid 1rem black;
                height: 20rem;

            }

        }
        
    }

   


}

