@import url('https://fonts.googleapis.com/css2?family=Protest+Strike&display=swap');

.navContainer{
    height: 100%;
    background-color: #FFFFFF;
    border-right: #E5E6E6 solid 1px;
 

    & .logo{
        height: 10%;
        display: flex;
        align-items: center;
        padding-left: 2rem;
        gap: 5px;

        & i {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 2rem;
            background-color: #00695D;
            color: white;
            width: 3rem;
            border-radius: 5px;
            padding: 5px;

            
        }

        span {
    
            font-size: 1.5rem;
            font-family: "Protest Strike", sans-serif;
            font-weight: 400;
            font-style: normal;
        }
        
    }

    & .menu {
        height: 90%;
        padding: 1rem 0;

        & h5 {
            margin-left: 2rem;
        }


        & ul {
            height: 100%;
            list-style: none;
            padding: 0;

            & li {
                line-height: 3.5rem;
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: .5rem;
                padding-left: 2rem;
               

                &:hover{
                    background-color: #00695D;               
                }
             
                &:hover a{
                    color: white;
                }
                &:hover i{
                    color: white;
                }
          

                & img {
                    height: 1.2rem;

                }
                &  a{
                    text-decoration: none;
                    color: #586F69;
                    font-size: 1rem;
                    text-transform: capitalize;
                    letter-spacing: .1rem;
                    

                }
               
            }
        }
    }
}
